@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.navbar-brand {
    margin-right: 3rem;
}
.badge.tag {
    color: white;
    background-color: #218838;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
